<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Importance of Health</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<style>
    .resize-image {
        width: 90%;
       
        height: auto;
   
    }

    .center-align {
        text-align: center;
    }
</style>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center-align"><b>Healthy life = Wealthy life</a></b>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

            </ul>
        </div>
    </nav>
    <br>

    <div class="col s4 center-align">
        <img class="materialboxed materialboxed-image center-align " src="images/food1.jpg">
    </div>
    <p>
        At Healthy Lifestyle, we are dedicated to helping you live your best life. Our mission is to provide you with
        the
        tools and resources you need to achieve a balanced and fulfilling lifestyle. Explore our services below to start
        your journey towards better health and wellness.
        This application will give you Healthy Reciepies, Simple Excercises and motivational contents to improve your
        mental
        health.
    </p>

    <div class="row">
        <div class="col s14 m10">
            <div class="card light blue darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Healthy Recipies</span>
                    <p>Eating well is the foundation of a healthy lifestyle. Our Healthy Recipes service offers a
                        diverse
                        collection of nutritious
                        and delicious meal ideas to keep you energized and satisfied. Whether you're looking for quick
                        and easy
                        recipes, meal prep ideas,
                        or specialized diets like vegan or gluten-free, we have something for everyone.</p>
                </div>
                <div class="card-action">
                    <button onclick="window.location.href='/recipe'">View Healthy Recipes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10">
            <div class="card pink darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Simple Exercises</span>
                    <p>Staying active is crucial for maintaining physical and mental health. Our Simple Exercises
                        service provides
                        a range of easy-to-follow workout routines suitable for all fitness levels.
                        Whether you're a beginner or looking to add variety to your fitness routine, we've got you
                        covered.</p>
                </div>
                <div class="card-action">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Motivation for Life</span>
                    <p>Maintaining a positive mindset is key to a healthy lifestyle.
                        Our Motivation for Life service offers a variety of resources to keep you inspired and motivated
                        every day.
                    </p>
                </div>
                <div class="card-action">


                </div>
            </div>
        </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>